/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
body {
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  background: #ffffff;
  margin: 0;
}
/* line 21, ../sass/screen.scss */
body .header {
  padding: 1em 0;
  border-top: 3px solid #FF8D1B;
}
/* line 25, ../sass/screen.scss */
body .header .container {
  width: 80%;
}
/* line 29, ../sass/screen.scss */
body .header .container .logo {
  float: left;
}
/* line 33, ../sass/screen.scss */
body .header .container .logo a {
  display: block;
  text-decoration: none;
}
/* line 37, ../sass/screen.scss */
body .header .container .logo a h1 {
  font-size: 1.8em;
  color: #212121;
  text-transform: uppercase;
  background: url(../images/1.jpg) no-repeat 80px 6px;
  padding-right: 1.67em;
  font-weight: 900;
  padding-bottom: .3em;
}
/* line 46, ../sass/screen.scss */
body .header .container .logo a h1 span {
  color: #FF8D1B;
  font-size: 1em;
  display: block;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: right;
  line-height: -1;
}
/* line 64, ../sass/screen.scss */
body .header .container .search {
  float: left;
  width: 40%;
  margin-left: 9em;
  margin-top: .7em;
}
/* line 71, ../sass/screen.scss */
body .header .container .search input[type="text"] {
  outline: none;
  border: none;
  background: #EFEFEF;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #999;
  width: 78%;
  float: left;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
/* line 85, ../sass/screen.scss */
body .header .container .search input[type="submit"] {
  outline: none;
  border: none;
  background: #212121;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  width: 22%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* line 99, ../sass/screen.scss */
body .header .container .enregistrement {
  float: right;
  margin-top: 1em;
}
/* line 105, ../sass/screen.scss */
body .header .container .enregistrement li {
  padding-right: 1em;
  display: inline-block;
  color: #212121;
  font-size: 1em;
}
/* line 111, ../sass/screen.scss */
body .header .container .enregistrement li i {
  padding-right: 1em;
}
/* line 113, ../sass/screen.scss */
body .header .container .enregistrement li a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8D1B;
  text-align: center;
  padding: 6px 30px;
  font-weight: bold;
}
/* line 136, ../sass/screen.scss */
body .navbar {
  margin-bottom: 0px;
}
/* line 143, ../sass/screen.scss */
body .movies_nav {
  background: #FF8D1B;
}
/* line 146, ../sass/screen.scss */
body .movies_nav .navbar-default {
  background: none;
  border: none;
}
/* line 151, ../sass/screen.scss */
body .movies_nav .navbar-left {
  float: none !important;
}
/* line 155, ../sass/screen.scss */
body .movies_nav .navbar-nav {
  float: none;
  margin: 0;
}
/* line 160, ../sass/screen.scss */
body .movies_nav .navbar-nav li {
  float: left;
  border-right: 1px dotted #fff;
  width: 14.27%;
  text-align: center;
}
/* line 167, ../sass/screen.scss */
body .movies_nav .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
}
/* line 171, ../sass/screen.scss */
body .movies_nav .navbar-nav li a:hover {
  color: #fff;
  background-color: #212121;
}
/* line 176, ../sass/screen.scss */
body .movies_nav .navbar-nav li a:focus {
  color: #fff;
  background-color: #212121;
}
/* line 184, ../sass/screen.scss */
body .movies_nav .navbar-nav li:active {
  border-right: none;
}
/* line 191, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 0px 0;
  margin: 2px 0 0;
  margin-top: 0px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px solid #ccc;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
}
/* line 217, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu li {
  background-color: #FF8D1B;
  width: 100%;
  margin-bottom: 1px;
  border-right: 0px;
  padding: 10px 15px;
}
/* line 224, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu li a {
  display: block;
}
/* line 228, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu li a:hover {
  display: block;
  background-color: #FF8D1B;
}
/* line 233, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu li a:focus {
  background-color: #FF8D1B;
}
/* line 246, ../sass/screen.scss */
body .movies_nav .navbar-collapse.collapse {
  width: 100%;
}
/* line 256, ../sass/screen.scss */
body section h4.latest-text {
  border-left: 5px solid #ff8d1b;
  font-size: 2em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: -100px;
  padding: 0.3em 0.5em;
  text-align: left;
}
/* line 275, ../sass/screen.scss */
body section ul#myTab {
  border: none;
  margin-bottom: 2em;
}
/* line 278, ../sass/screen.scss */
body section ul#myTab li {
  float: left;
  margin-bottom: -1px;
}
/* line 282, ../sass/screen.scss */
body section ul#myTab li a {
  background: #f3f1f1;
  border: none;
  border-radius: 0;
  font-size: 16px;
  color: black;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
/* line 294, ../sass/screen.scss */
body section ul#myTab li a:hover, body section ul#myTab li a:focus {
  background-color: #FF8D1B;
  border: none;
  border-radius: 0;
  color: #fff !important;
}
/* line 309, ../sass/screen.scss */
body .container {
  text-align: center;
}
/* line 314, ../sass/screen.scss */
body .container .date {
  text-align: left;
}
/* line 319, ../sass/screen.scss */
body .container .plusDeFilms {
  margin-top: 50px;
}
/* line 325, ../sass/screen.scss */
body .container .bt_plus {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8D1B;
  text-align: center;
  padding: 15px 40px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 50px;
}
/* line 343, ../sass/screen.scss */
body .container .film .img-responsive {
  height: 230px;
}
/* line 349, ../sass/screen.scss */
body .container .film h6 a {
  margin-top: 10px !important;
  padding-bottom: 5px;
  color: black;
  display: block;
  text-align: center;
}
/* line 360, ../sass/screen.scss */
body .container .film .details_films {
  margin-bottom: 30px;
  display: block;
}
/* line 365, ../sass/screen.scss */
body .container .film .date {
  font-size: 0.8em;
  float: left;
}
/* line 371, ../sass/screen.scss */
body .container .film .prix {
  font-size: 0.8em;
  color: #FF8D1B;
  float: right;
  padding-right: 20px;
}
/* line 379, ../sass/screen.scss */
body .container .film .col-md-2 {
  padding: 0px;
}
/* line 392, ../sass/screen.scss */
body footer {
  background: #212121;
  padding: 4em 0;
}
/* line 403, ../sass/screen.scss */
body .shop_movies .shop_haut {
  padding-bottom: 15px;
  color: white;
  text-align: left;
}
/* line 409, ../sass/screen.scss */
body .shop_movies .shop_haut .title {
  text-transform: uppercase;
  font-size: 1.3em;
  color: #212121;
  font-weight: bold;
  padding-bottom: 1em;
}
/* line 417, ../sass/screen.scss */
body .shop_movies .shop_haut .image_gauche {
  padding: 0px;
}
/* line 421, ../sass/screen.scss */
body .shop_movies .shop_haut .rectangle_orange {
  background: #FF8D1B;
  min-height: 312px;
  padding: 3em 3em 3em;
  margin-bottom: 15px;
  width: 48.6%;
}
/* line 429, ../sass/screen.scss */
body .shop_movies .shop_haut .rectangle_orange .slides img {
  width: 100%;
  display: block;
}
